{% extends "signup/base_unloggeduser.html" %}

{% block title %}
    kwippy - about 
{% endblock %}

{% block header_home %}
	<li class="selected">Home</li>
{% endblock%}

{% block content %}
    <div class="content">
<h1 style="border-bottom:1px solid;">About</h1>
<br>
The name Kwippy is derived from the english word <a href="http://en.wiktionary.org/wiki/quip" class="onwhite">Quip</a>.

<br><br>
<h3><b>What?</b></h3>
Kwippy is an easy and fun way to share your Gtalk, Yahoo and Facebook status messages with your friends
and have interesting conversations over them.
Kwippy offers a <a href="http://blog.kwippy.com/2008/08/04/making-conversations-viral/" class="onwhite">great platform</a> for conversations by bringing out the best of forums, blogs and microblogs.
<br><br>
<h3><b>Why?</b></h3>
Statuses are omnipresent, from Instant messengers to social networks they are everywhere. They are a good measure of what you are upto,
what you are feeling and what you are. Statuses give people reasons to talk. Status is the bridge between you, your friends and your potential friends. Read more about statuses in our <a href="http://blog.kwippy.com/2008/08/04/the-status/" class="onwhite">blog post</a>.
<br><br>
<h3><b>How?</b></h3>
Just add kwippy as a contact in your Instant messenger and voila your statuses start getting stored, you start getting instant message notifications whenever someone comments on your status, and a host of other functions.
<br><br>
We are pretty much obsessed about how converations can be made more fun and useful, as a part of our services structure we offer customized solutions to companies. Free free to <a class="onwhite" href="/home/contactus/">contact us</a> and find out more about how your organisation can be more efficient and happy with out help.

<!--To know more about kwippy and how is it different from others you can read 
<a href="http://blog.kwippy.com/2008/07/30/its-all-about-friends/" class="onwhite"> this</a>-->
    </div>
{% endblock %}
