html{background-color:#dddddd;}

body {
font: 83% lucida sans, verdana, sans-serif;
line-height: 1.4;
color:#333;
background-repeat:repeat-x ;
text-align:center;
}

.float_right{
float:right;
}

.float_left{
float:left;
}

.grey_text{
color:grey;
}

.wrap{
display:block;
padding-bottom:10px;
}

a {
color:#0086FF;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}

.username {
font-size:95%;
}


.col2 a {
color:#0086FF;
text-decoration:none;
}

.col2 a:hover{
text-decoration:underline;
}

.right_links{
color:#333;
font-size:12px;}



.content {
margin:0pt auto;
padding:2em 10px 15px 10px;
text-align:left;
width:860px;
background-color:white;
display:block;
overflow:hidden;
}

.user_image img {
border:1px solid 
}
.col1{
float:left;
text-align:left;
width:550px;
}

.col2 {
float:right;
padding:10px auto 2em 0pt;
width:270px;
text-align:center;
background-color:#fff;
}

h1 {
width:580px;
overflow:hidden;
font-size:20px;
padding-bottom:30px 
padding-left:12px;
}

.h2 {
color:#fff;
font-size:20px;
padding-bottom:10px;
}

.prev_link, .next_link{
background-color:black;
padding-right:5px;
padding-left:5px;

}


.user_image{
float:left;
padding:0 8px 0 8px;
display:block;
}

.user_details{
float:left;
width:750px;
padding-left:10px;
}

li{
padding:5px 0 5px 0;
display:block;
}

.footer{
		font-size:12px;
		}
		.footer ul {
		height:auto;
		margin:0pt;
		padding:0pt;
		width:auto;
		}
		.footer li{
		display:inline;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		padding:3px 7px;
		text-align:center;
		}

.follow_link {
position:relative;
top:3px;
}

.grey_bg {
background-color:#e1e1e1;
padding:0 3px 0 3px;
}
.highlighter{
background-color:#FFCA14;
padding:0pt 3px;
}

