html{background-color:#dddddd;}
body {
font: 83% lucida sans, verdana, sans-serif;
line-height: 1.4;
color:#000;
background-repeat:repeat-x ;
text-align:center;
}

.float_right{
float:right;
}
.float_left{
float:left;
}
.grey_text{
color:grey;
}

.clear{
clear:both;
height:0px;
overflow:hidden;
}
a {
color:#0086FF;;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}



.content {
padding:2em 10px 15px 10px;
width:100%;
text-align:left;
background-color:white;
height:100%;

}
.left_col {
float:left;
padding:10px 0 0 0;
text-align:left;
width:235px;
border-right:1px solid #cdcdcd;
}
.right_col {
float:right;
padding:10px auto 2em 0pt;
width:615px;
text-align:center;
}

h1 {
font-size:20px;
padding-bottom:30px 
padding-left:7px;
}

.h2 {
color:#fff;
font-size:20px;
padding-bottom:30px;
}



.textarea {
width:100%;/*548px;*/
height:70px;
text-align:left;
}


.prev_link, .next_link{
background-color:black;
padding-right:5px;
padding-left:5px;

}

.button {
background-color:#BBD26C;
border:1px solid grey;
font-family:georgia,serif;
height:25px;
text-align:center;
padding:0 5% 0 5%;
}
.follow_link a{
padding:2px 5px 2px 5px;
color:black;
background-color:#a7d4ff;
text-decoration:none;
border:1px solid #a7d4ff;
}
.follow_link a:hover{
padding:2px 5px 2px 5px;
color:#a7d4ff;
background-color:#333;
border:1px solid #a7d4ff;
}


.footer {
}

.wrap{
margin:0pt auto;
text-align:center;
}

td {
  padding:5px 10px 5px 10px;}