<div class="footer">
	<ul>
                <li><a href="/home/about/" class="onwhite">about</a></li>
                <li><a href="/home/team/" class="onwhite">team</a></li>
                <li><a href="/home/solutions/" class="onwhite">solutions</a></li>
		<li><a href="http://blog.kwippy.com/" class="onwhite">blog</a></li>
		<li><a href="/help1/" class="onwhite">help</a></li>
		 <li><a href="/home/extras" class="onwhite">extras</a></li>
		<li><a href="/home/contactus/" class="onwhite">contact us</a></li>
		<li><a href="/home/tos/" class="onwhite">tos</a></li>
	</ul>
	<div >&copy;2008 kwippy</div>
	<br/>
</div>  


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3116342-1");
pageTracker._initData();
pageTracker._trackPageview();

var invite2talkEventTracker  = pageTracker._createEventTracker('Invite2Talk');
</script>
<!-- Start Quantcast tag -->
<script type="text/javascript">
_qoptions={
qacct:"p-27XmwQm2QI4PY"
};
</script>
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<noscript>
<img src="http://pixel.quantserve.com/pixel/p-27XmwQm2QI4PY.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag -->

