{% load comments %}
{% load format_url %}
{% load is_favourited%}
{% load format_date_time %}
{% load show_quip_provider %}
{% load show_follower_pic %}
{% load generate_invite %}
{% load comment_active%}
{% if quips %}
  {% for quip in quips %}
	 {%if quip.account.user %}
	   {% get_comment_count for kwippy.quip quip.id as comment_count %}
	     <div class="kwip">
                                {%ifequal quip.type 1%}

                                {% ifequal quip.account.user.username login %}
                                    {{ quip.formated|safe|urlize }}
                                {%else%}
                                    {%say_hi_people quip.account.user.id%}
                                {%endifequal%}

                                {%else%}
				{%ifequal quip.account.user.username 'kwippy' %}
					{{ quip.formated|safe|urlize }}
				{%else%}
					{{ quip.formated|escape|urlize }}
				{%endifequal%}
			        {%endifequal%}
		 </div>
		 {% ifequal quip.account.user.username login %}
			  <div class="post_byuser" id="{{quip.id}}">
		 {% else%}
			  <div class="post_otherusers" id="{{quip.id}}">
		 {%endifequal%}
				 {% if user.is_authenticated %}					   
					{% show_is_favourite user.id quip.id %}							
				 {% endif %}	
				 
				 by 
				 {%if quip.account.user %}
					
					<a href="/{{quip.account.user.username}}/"><img class="user_pic_16" width="16" height="16" src="{% show_follower_pic quip.account.user.id %}" alt="{{quip.account.user.username}}" />
						{{quip.account.user.username}} 
					</a>
				 {%else%}
					anonymous
				 {%endif%}

				 
				 from {% displayprovider quip.id %}
				
				({{quip.created_at|timesince}} ago)
				
				{%if quip.account.user and quip.account.user.username %}
					{% if not is_single %}
					<a href="/{% formattime quip.id%}/">
						 {% ifequal comment_count 0 %}comment<img class="go_icon" src="/images/icons/arrow_right.gif" />{%else%} 
						   {% ifequal comment_count 1 %}
								 1 Comment 
							{% else %}
								 {{ comment_count }} Comments 
							{% endifequal %}
						 {% endifequal%}</a> 
					{% endif %}
				{% endif %}
				{% comment_active quip.id %}
                                |<a href="/{% formattime quip.id%}/"> <img class="link_icon" title="permalink" src="/images/icons/icon_link.gif" /></a> 

					{% ifequal login quip.account.user.username %}
						  {% ifnotequal quip.type 1%}
                                                   {% ifequal user.username login %}
							 | <a href="/{{user.username}}/kwip/delete/{{quip.id}}/" onClick="return confirm('Are you sure you want to delete? you won\'t be able to bring it back');">
									 delete
								</a> 
						  {%endifequal%}
                                                  {%endifnotequal%}
					{%endifequal%}
		      </div>
				{% include "comment_area.html" %}
	 {% endif %}
  {% endfor %}
{% else %}
     {%if page_type %}
	{% ifequal page_type 'favorite' %}
               <p class="white"> {{login}} has no favorite kwips yet </p>
        {%else%} 
		<p class="white" >No quips are available.</p>
        {%endifequal%}
	{%else%}
	<p class="white" >No quips are available.</p>
     {% endif %}
{% endif %}	
