<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>	
	{% load show_flash_message%}
	{% load append_revision_number %}
	{% load show_news%}
	{% load ifusergroup%}  
	{% load show_buzz %}
	{% load theme %}
  <head>
	 <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="description" content="A microblogging and Instant Messenger status logger with a social network optimized for close friends" />
	<meta name="keywords" content="microblogging, microblog, nanoblogging, nanoblog, social network, Gtalk status, Yahoo messenger status, store status, archive status" />
    	<title>{{ login }}'s comments page</title>
	<link rel="stylesheet" type="text/css" href="{% append_revision_number '/css/reset-fonts-grids.css' %}"> 
	<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% append_revision_number '/css/user_page.css' %}{% endblock %}" >
	<link rel="stylesheet" type="text/css" href="{% append_revision_number '/css/custom_default.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% append_revision_number '/css/global.css' %}" >
		{% theme login %}
	<link href="http://staging.kwippy.com/favicon.ico" rel="shortcut icon"/>
    	<script type="text/javascript" src="/js/jquery-1.2.2.js"></script> 
	<script type="text/javascript" src="{% append_revision_number '/js/mypage.js' %}"></script> 

  </head>
  <body>
    {% include "top_bar_login.html" %} 
	<div class="wrap"> 
            {% include "feedback_link.html" %}
            <div class="clear"></div>
	    <span id="flash" style="display:block;" class="flash_message">
	      {{ flash }}
	    </span>

            {% if login %}
	    <div class="content">
		<div class="left_col">
		 {% include "unlogged_mypage.html" %} 
			<div class="clear" ></div>
			{% ifequal quips_for 'favourites' %}
				<span class="float_left">
					<a class="unselected" href="/{{login}}/">{{ login }}'s network</a>
					<a  class="unselected"  href="/{{ login }}/kwips/">{{ login }}'s kwips</a>
				</span>
				<span class="float_right">
					<a class="unselected" href="/everyone/">everyone's kwips</a>
				</span>					
			{%endifequal%} 
		        <br class="clear" />
		        <div class="kwipsarea">
                            {%ifnotequal page_type 'everyone'%}
        						{% include "follow_unfollow.html" %}
				                <div>
					          <h1>{%ifequal login 'kwippy' %}
							everyone's comments </h1>
							{%else%}
								{{login}}'s comments</h1>
							{%endifequal%}
                            
        		      <div class="clear" ></div><br/>
		            </div>
		            <div class="clear"></div>
			    {% displaybuzz login 'quip' %}
				{%else%}
				   <div><h1>everyone's comments</h1></div>
				 {%endifnotequal%}						
		            {% include "comments_list.html" %}	
			<br style="clear:both;" />
			{% include "pagination_links.html" %}				
		</div>
		</div>
		<div class="right_col">
			<div class="logo_box" style="background-color:#fff;">
				<a href="/" title="home"><img src="/images/logo.gif"/></a>
				<br />
				
					{% include "search_box.html" %}	<br />	
			</div>
			<div class="clear"></div>
			<div class="networkarea">
				<div>
			     {%ifnotequal page_type 'everyone'%}
					{% include "user_profile_box.html" %}				
					{% include "direct_message_box.html" %}
					{% include "profile_links.html" %}
					{% include "invite_friends_box.html" %}
					<br/>
					{% include "friends_box.html" %}
					<div class="clear"></div>
					{% include "following_box.html" %}
					<div class="clear"></div>
					{% include "follower_box.html" %}
                                    {%else%}
                                        {% include "everyone_profile_links.html" %}
                                        {% include "active_users_box.html" %}
										{% include "featured_users_box.html" %}
                                        {% include "random_users_box.html" %}
                                    {%endifnotequal%}
				</div>
			</div>
		</div>
	 </div>
	 {% else%}
		User doesn't exist...
	 {%endif%}
	 <br class="clear" />
	  <br/>
	{% include "footer.html" %}
    </div>
</body>

</html>
