<ul>
	<li  class="im_names" style="display:none"><a href="javascript:void(0);" id="AIM" onClick="show_buddy_tobe_added('AIM');">AIM</a>
	<span id="AIM_text" style="display:none">AIM</span>
	</li> 
	<li  class="im_names" style="display:none">
	 <a href="javascript:void(0);" id="Gadu"	 onClick="show_buddy_tobe_added('Gadu');">Gadu-Gadu</a>
	 <span id="Gadu_text" style="display:none">Gadu-Gadu</span>
	</li>
	<li  class="im_names"  style="display:block">
	 <a href="javascript:void(0);" id="GTalk" onClick="show_buddy_tobe_added('GTalk');">Google Talk</a>
	 <span id="GTalk_text" style="display:none">Google Talk</span>
	</li> 
	<li  class="im_names" style="display:none">
	 <a href="javascript:void(0);" id="ICQ" onClick="show_buddy_tobe_added('ICQ');">ICQ</a>
	 <span id="ICQ_text" style="display:none">ICQ</span>
	</li>    
	<li  class="im_names"  style="display:none"><a href="javascript:void(0);" id="MSN" onClick="show_buddy_tobe_added('MSN');">MSN</a>
	<span id="MSN_text" style="display:none">MSN</span>
	</li>
	<li  class="im_names"  style="display:none">
	 <a href="javascript:void(0);" id="MySpaceIM" onClick="show_buddy_tobe_added('MySpaceIM');">MySpaceIM</a>
	 <span id="MySpaceIM_text" style="display:none">MySpaceIM</span>
	</li>
	<li  class="im_names"  style="display:none">
	 <a href="javascript:void(0);" id="QQ" onClick="show_buddy_tobe_added('QQ');">QQ</a>
	 <span id="QQ_text" style="display:none">QQ</span>
	</li>
	<li class="im_names"  style="display:block">
	  <a href="javascript:void(0);" id="Yahoo" onClick="show_buddy_tobe_added('Yahoo');">Yahoo!</a>
	  <span id="Yahoo_text" style="display:none">Yahoo!</span>
	</li>
    	<li class="im_names"  style="display:block;padding-left:0;">
		<img src="/images/icons/new.gif" class="new" />
	</li>
</ul>
