.float_right{
float:right;
}
.float_left{
float:left;
}
.grey_text{
color:grey;
}

.clear{
clear:both;
height:1px;
overflow:hidden;
}

.textbold{
font-weight:bold;
}

.small_text{
font-size:11px;
}

.medium_text{
font-size:12px;
}

