{% extends "messages/base_messages.html" %}
{% load show_flash_message%}
{% load show_follower_pic %}
{% load snip_to_more%}
{%block perm_flash%}
   <span id="flash" style="display:block;" class="flash_message">
   {% if request.session.first_login %}
	 {% show_flash_message user.id 'first_login' 'import'%}
   {%endif%}
   </span>
 {%endblock%}

{% block nav_inbox %}
	<li >
		<a id="li_import" style="display:block" href="/{{user}}/messages/inbox/">  
                  {% if unread_incoming_msgs %}
                       <b>Inbox({{unread_incoming_msgs }})</b> 
                    {%else%}
                        Inbox
                    {%endif%}</a>
	</li>	
{%endblock%}

{% block content %}
	<br>
	<fieldset id="field_import" class="dashboard_fieldset" style="display: block;">
	  <legend>inbox for private messages</legend>
	

	<div class="clear"></div>

		  <div id="buddy" style="display: block;" name="buddy">
			<table>
				<tbody>
					<tr>
						<td width="150"><i>From</i></td>
						<td width="600"><i>Message</i></td>
						<td></td>
					</tr>			
					{%if messages %}
					{% for message in messages %}
					<tr>
						<td width="150">
							<img src="{% show_follower_pic message.pm.sender.id%}" width="32"><br>
							<span class="small_text"><a href="/{{message.pm.sender}}/">{{message.pm.sender.username}}</a></span>
						</td>
						<td width="" valign="center">
                                                    <a href="/{{user}}/pvt_message/{{message.pm.id}}/view/">
                                                        {% ifequal message.status 0 %}
                                                            <b> {{message.pm.message|truncatewords:"12"}} </b>
                                                        {%else%}
                                                                {{message.pm.message|truncatewords:"12"}}
                                                        {%endifequal%}
                                                    </a>
						</td>
						<td>
						<span class="small_text">{{message.created_at|timesince}} ago </span>
						</td>
					</tr>	
					{%endfor%}
					{%else%}
						<tr>
							<td></td>
							<td>no messages</td>
							<td></td>
						<tr>
					{%endif%}
				</tbody>
				
			</table>
			
		  </div>	
			<br style="clear:both;" />
			<div> 
				{% if has_next %}
					<span class="float_left prev_link"> 
						<a href=".?page={{ next }}">&larr;older</a>
					</span>
				{% endif %}
				{% if has_previous %}
					<span class="float_right next_link">
						<a href=".?page={{ previous }}">newer&rarr;</a>
					</span>
				{% endif %}
			</div>	
	</fieldset>


{%endblock%}
