{% extends "messages/base_messages.html" %}
{% load show_flash_message%}
{% load show_follower_pic %}
{%block perm_flash%}
   <span id="flash" style="display:block;" class="flash_message">
   {% if request.session.first_login %}
	 {% show_flash_message user.id 'first_login' 'import'%}
   {%endif%}
   </span>
 {%endblock%}

{% block nav_write %}
	<li >
		<a id="li_import" style="display:none" href="/{{user}}/dashboard/write/"> Write</a>
		<span id="import" style="display:block">Write</span>
	</li>	
{%endblock%}

{% block content %}
	<br>
	<fieldset id="field_import" class="dashboard_fieldset" style="display: block;">
	  <legend>Write private messages</legend>
		<div class="clear"></div>
  	    <div id="buddy" style="display: block;" name="buddy">
			<form id="kwip_form" name="kwip_form" action="/kwip/add/" method="post">
				<div id="kwip_area">
					<label>To:<br><input type="textbox"></label><br>
					<label>Private Message:<textarea id="kwip_box" class="textarea"></textarea></label>
					<div >					
						<input id="btnkwip" class="button float_left" type="button" value="send&raquo;" onclick="submit_form();" name="btnkwip"/>
					</div>
				</div>
			</form>			
		  </div>
	</fieldset>
{%endblock%}
