<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>	
	{% load show_flash_message%}
	{% load append_revision_number %}
	{% load show_news%}
	{% load ifusergroup%}  
	{% load show_buzz %}
  <head>
	 <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="description" content="A microblogging and Instant Messenger status logger with a social network optimized for close friends" />
	<meta name="keywords" content="microblogging, microblog, nanoblogging, nanoblog, social network, Gtalk status, Yahoo messenger status, store status, archive status" />
    	<title>{{ login }}'s kwips page</title>
	<link rel="stylesheet" type="text/css" href="{% append_revision_number '/css/reset-fonts-grids.css' %}"> 
	<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% append_revision_number '/css/user_page.css' %}{% endblock %}" >
	<link href="http://staging.kwippy.com/favicon.ico" rel="shortcut icon"/>
    	<script type="text/javascript" src="/js/jquery-1.2.2.js"></script> 
	<script type="text/javascript" src="{% append_revision_number '/js/mypage.js' %}"></script> 

  </head>
  <body onload=flashy(); >
	<div class="wrap"> 
      {% include "feedback_link.html" %}
      <div class="clear"></div>
	  <span id="flash_update" style="display:none;" class="flash_message">
	  	{%if user.is_authenticated and user.is_superuser and request.session.last_login %}
	    	  {% show_flash_news user.id request.session.last_login %}
		{%endif%}
	  </span>
  	  <span id="flash_perm" style="display:block;" class="flash_message">
	     {% if user.is_authenticated and request.session.first_login %}
			 {% show_flash_message user.id 'first_login' 'mypage'%}
	     {%endif%}
	  </span>
	  <span id="flash" style="display:block;" class="flash_message">
	    {{ flash }}
	  </span>

     {% if login %}
	 <div class="content">
		<div class="left_col">
 {% include "unlogged_mypage.html" %} 
			<div class="clear" ></div>
			  {% ifequal quips_for 'all' %}
				<span class="float_left" style="height:19px;">
					<a class="selected"href="/{{login}}">{{ login }}'s network</a>
					<a class="unselected" href="/{{ login }}/kwips">{{ login }}'s kwips</a>
					</span>
					<span class="float_right">
					<a  class="unselected" href="/everyone/">everyone's kwips</a>
					</span>

			  {%else%}
			 		{% ifequal quips_for 'everyone' %}
						<span class="float_left">
							<a class="unselected" href="/{{login}}">{{ login }}'s network</a>
							<a  class="unselected"  href="/{{ login }}/kwips">{{ login }}'s kwips</a>
							</span>
						<span class="float_right">
							<a class="selected" href="/everyone/">everyone's kwips</a>
						</span>

					{%else%}
						{% ifequal quips_for 'favourites' %}
							<span class="float_left">
								<a class="unselected" href="/{{login}}">{{ login }}'s network</a>
								<a  class="unselected"  href="/{{ login }}/kwips">{{ login }}'s kwips</a>
								</span>
							<span class="float_right">
								<a class="unselected" href="/everyone/">everyone's kwips</a>
							</span>							
						{%else%}
							<span class="float_left">
							<a class="unselected" href="/{{login}}">{{ login }}'s network</a>
							<a class="selected" href="/{{ login }}/kwips">{{ login }}'s kwips</a>
							</span>
							<span class="float_right">
							<a class="unselected"  href="/everyone/">everyone's kwips</a>				
							</span>
						{%endifequal%}  
		
			{%endifequal%}  
			 {%endifequal%}  

		
		<br class="clear" />

		
		<div class="kwipsarea">
		{% include "follow_unfollow.html" %}
		{% include "favourites.html" %}
			<div class="clear"></div>
		


			{% displaybuzz login 'quip' %}

		 {% if not is_single %}
		{% if user.is_authenticated %}
			{%ifequal user.username login %}
				{%ifnotequal quips_for 'favourites'%}				
				  <form method="post" action="/kwip/add/" id="kwip_form" name="kwip_form"> 
					<div id="kwip_area">
					  <textarea class="textarea" name="kwip_box" id="kwip_box" onclick="if (this.value =='shooooot!!') {this.value=''}" onblur="if (this.value==''){this.value='shooooot!!'}" value="shooooot!!"></textarea>

						<div class="textarea_bolt">
							<input  class="button float_left" type="button" name="btnkwip" onClick="submit_form();" id="btnkwip" value="post&raquo;">
						</div>
					</div>		
				  </form>
				{%endifnotequal%}
			{% endifequal %}
		 {% endif %}
		 {% endif %}
		 <br>

		{% include "kwips_area.html" %}	
		<!--code for rss-->
		<div align ="center" class="on_black"><br><a href=""><img  src="/images/icons/rss_icon.png" alt="rss icon">subscribe</a></div>
		<!--rss code ends here-->
			<br style="clear:both;" />
			<div> 
				{% if has_next %}
					<span class="float_left prev_link"> 
						<a href=".?page={{ next }}">&larr;older</a>
					</span>
				{% endif %}
				{% if has_previous %}
					<span class="float_right next_link">
						<a href=".?page={{ previous }}">newer&rarr;</a>
					</span>
				{% endif %}
				
			</div>
		
		</div>
		</div>
		<div class="right_col">
			<div class="logo_box" style="background-color:#fff;">
				<a href="/" title="home"><img src="/images/logo.gif"/></a>
				<br />
					{% include "login_logout.html" %}
					{% include "search_box.html" %}	<br />	
			</div>
			<div class="clear"></div>
			<div class="networkarea">
				<div>
							
					{% include "user_profile_box.html" %}				
					{% include "direct_message_box.html" %}
					{% include "profile_links.html" %}
					{% include "invite_friends_box.html" %}
					<br/>
					{% include "following_box.html" %}
					<div class="clear"></div>
					{% include "follower_box.html" %}
				</div>
			</div>
		</div>
	 </div>
	 {% else%}
		User doesn't exist...
	 {%endif%}
	 <br class="clear" />
	  <br/>
	{% include "footer.html" %}
    </div>
</body>

</html>
