{% include "top_bar_login.html" %} 
<div class="left_col">
<a href="/console/">main page</a><br/>
<!--<a href="/console/averages/">averages</a><br/>-->
<a href="/console/invitations/">generate invitations</a><br/>
<a href="/console/last_loggedin_users/">recent activity</a><br/>
<a href="/console/guestpass/">day wise stats</a>(under progress)<br/>
<a href="/console/daily_comments/">day wise comments</a><br/>
<a href="/console/daily_favorites/">day wise favorites</a><br/>
<a href="/console/daily_commenters/">day wise commenters</a><br/>
<a href="/console/daily_logins/">day wise logins</a><br/>
<a href="/console/daily_follows/">day wise follows</a><br/>
<a href="/console/daily_betainvites/">day wise invite requests</a><br/>
<a href="/console/day_wise_convinvites/">day wise conv invite requests</a><br/>
<a href="/console/list/beta_emails/">list beta emails</a><br/>
<a href="/console/list/invites_status/">status of invites</a><br/>
<a href="/console/featuring/">featuring</a> <br/>
<a href="/console/featured_users/">featured users</a> <br/>
<a href="/console/toppers/">Toppers</a> <br/>
<a href="/console/topper_kwips/">Topper Kwips</a> <br/>
<a href="/console/popular_kwips/">Popular Kwips</a> <br/>
<!--<a href="/console/featues/comments/">comments</a>-->
<a href="/console/virality/">virality</a><br/>
<a href="/console/twittervirality/">Twitter virality</a><br/>
<a href="/console/dailytwittervirality/">Daily Twitter virality</a><br/>
<a href="/console/memcached/">memcached status</a><br/>
<a href="/console/comm_queue/">comm_queue</a><br/>
<a href="/console/mail_log/">Email Log</a><br/>
<a href="/console/anon_conv_mail_log/">Anon Conv Invites Log</a><br/>
<a href="/console/notifications/">Notifications</a><br/>
<a href="/console/agewise/">Age distribution</a><br/>
<a href="/console/birthdays/">Birthdays</a><br/>
<a href="/console/mailfooter/">Email Footer</a><br/>
<a href="/console/rssuser/">RSS user creation</a><br/>
</div>
