<html>
  <head>
    <title>
	admin page
	</title>		 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.4.1/build/reset-fonts-grids/reset-fonts-grids.css"> 
	<link rel="stylesheet" type="text/css" href="/css/admin.css" >
 </head>
 <body> 
	<div class="wrap"> <!--wrap begins-->
		 <div class="content"><!--this has all the content-->
			<h1>admin page</h1>
			{% include "console/admin_menu.html" %}
		    <span id="flash" style="display:block;" class="flash_message">
		      {{ flash }}
		    </span>
			<div> Users that have submitted their birthdays: {{birth_day_users}}<br><br>
			<form id="roll_bdaymails" name="roll_bdaymails" action="/console/birthdaymails/" method="post">
				<input class="button" id="send_bdaymails" type="submit" value="send birthday emails"><br><br>
			</form>

				Birthdays This Month.<br/><br/>	
                                    &nbsp; birthdate &nbsp;&nbsp;&nbsp;&nbsp; name<br/><br/>
                                {%for item,key in birthdays%}
    `                              {{key}} &nbsp;&nbsp;&nbsp;&nbsp; <a href="/{{item}}/"<b>{{item}}</b></a>  <br/><br/>
                                {%endfor%}

			</div>
		 </div><!-- content ends-->
		<div class="clear"></div>
		<!--footer begins-->
		 <div class="footer">
		 </div><!--footer ends-->
</div>	 <!--wrap ends-->
</body>
</html>
