<html>
  <head>
    <title>
	admin page
	</title>		 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.4.1/build/reset-fonts-grids/reset-fonts-grids.css"> 
	<link rel="stylesheet" type="text/css" href="/css/admin.css" >
 </head>
 <body> 
	<div class="wrap"> <!--wrap begins-->
		 <div class="content"><!--this has all the content-->
			<h1>admin page</h1>
			{% include "console/admin_menu.html" %}
			<div class="right_col">
			<form id="invites" method="post" action="">
				<label>Fill in some emails</label>
				<textarea class="textarea" name="e-mail" id="email_box"></textarea>
				<!--<textarea class="textarea" name="mail_text" id="email_box"></textarea>-->
				{% for key, value in invite_hash.items %}
					<input type="text"  name="txtbox_code" value="{{key}} = {{ value }}"><br/>
				{% endfor %}
				{% if invite_hash %}
					{% ifnotequal hash_length 0%}			
						<!--<input type="text"  name="txtbox_code" value="{{ invite_hash }}">-->
						<!--<textarea class="textarea" name="codes" id="codes"></textarea>-->	
					{%else%}			   
						{% for key, value in invite_hash.items %}				     
							<textarea class="textarea" name="codes" id="codes" value="{{value}}"></textarea>
						{% endfor %}
					{%endifnotequal%}
				{% else %}			
				{% endif%}
				<input type="submit" name="btn_generate" value="generate"/>
			</form>
			</div>
		 </div><!-- content ends-->
		<div class="clear"></div>
		<!--footer begins-->
		 <div class="footer">
		 </div><!--footer ends-->
</div>	 <!--wrap ends-->
</body>
</html>
