{% extends "signup/base_unloggeduser.html" %}
{% load i18n %}

{% block title %}
    kwippy - reset password
{% endblock %}

{% block header_home %}
	<li class="selected">Home</li>
{% endblock%}


{% block content %}

<h1>{% trans 'Reset Password' %}</h1>

<p>{% trans "Enter your new password twice so we can verify you typed it in correctly." %}</p>

<br />
<form class="userdata biglabel" method="post" action="">
  <fieldset>
                <div style="overflow: hidden; margin-bottom: 5px;">
					<label for="id_newpass1">{% trans "New password:" %}</label>{{ form.newpass1 }}
				</div>             
				{% if form.newpass1.errors %}{{ form.newpass1.errors|join:", " }}{% endif %}<br/>
		        <label for="id_newpass2">{% trans "Confirm password:" %}</label>
				{{ form.newpass2 }}
				<div id="passmsg2" class="message">
					{% if form.newpass2.errors %}{{ form.newpass2.errors|join:", " }}{% endif %}
				</div>
    <br />
                <input type="submit" value="{% trans 'Change my password' %}" />
  </fieldset>
</form>

{% endblock %}

