
{% extends "signup/base_unloggeduser.html" %}

{% block title %}
    kwippy - forgot password
{% endblock %}

 {% block header_home%}
	 <li class="selected">Home</li>
 {% endblock %}

{% load i18n %}

{% block content %}
   <span id="flash" style="display:block;" class="flash_message">
	{{flash}}
   </span>
   <br/>

<p>{% trans "Forgot your password?" %}</p>
<br><br>
<form action="" method="post">
{% if form.email.errors %}{{ form.email.html_error_list }}{% endif %}
<p><label for="id_email">{% trans 'E-mail address (registered):' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Submit' %}" /></p>
</form>

{% endblock %}
